# Context7
CONTEXT7_API_KEY=

# SonarQube
SONARQUBE_TOKEN=
SONARQUBE_ORG=

# GitHub
GITHUB_PERSONAL_ACCESS_TOKEN=

# Slack
SLACK_MCP_XOXP_TOKEN=

# MySQL
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# AWS
AWS_PROFILE=
AWS_REGION=us-east-1

# Datadog
DATADOG_API_KEY=
DATADOG_APP_KEY=
DATADOG_SITE=datadoghq.com

